*{
    font-family: 'Georgia', serif;
    box-sizing: border-box;
  
}

body{
    background-color:rgba(238, 238, 238, 1) ;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    margin: 0;
    padding: 0;
    

}

header {
    background-color:rgba(32, 30, 67, 1);
    backdrop-filter: blur(1px);
    background-size: cover;
    background-position:top;
    padding: 10px;
    text-align: center;
    margin-bottom: 10px;
}

h1{
    color : rgba(246, 246, 246, 1);
    font-size: 40px;
    text-align: center;
    margin-top: 0;
    margin-bottom: 0;
    padding-block: 1px;
    text-transform: capitalize;
    font-weight: bold;
}
#head{
    color: rgba(246, 246, 246, 1);
    text-align: center;
    margin-top: 5px;
    margin-bottom: 0;
    padding-block: 1px;
    text-transform: capitalize;
}

h2{
    color: rgb(0, 0, 0);
    font-size: 18px;
    text-align: center;
    text-transform: capitalize;
    font-weight: bold;
    text-decoration: underline;
    text-emphasis: underline;
}

h3{
    color: rgb(0, 0, 0);
    font-size: 16px;
    text-align: center;
    text-transform: capitalize;
    font-weight: bold;
}


#prediction{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap ;
    width: 350px;
    height: auto;
    margin: 0 auto;
    padding: 30px;
    background-color: rgba(80, 140, 155, 1);
    backdrop-filter: blur(5px);
    border-radius: 20px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.177);
    text-align: center;
}
#live-data {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 20px;
    color : rgb(0, 0, 0);
}

#result-card {
    background-color: #f9fff4;
    border-radius: 10px;
    padding: 15px;
    margin-top: 20px;
    box-shadow: 0 2px 8px rgba(0,0,0,0.2);
    text-align: center;
}

.result-text {
    font-size: 20px;
    color: #2b5f2b;
    font-weight: bold;
}

.form-group {
  margin-bottom: 15px;
  text-align: left;
}

.form-group label {
  display: block;
  margin-bottom: 5px;
  color: rgb(0, 0, 0);
}
input[type="number"] {
  width: 100%;
  padding: 8px;
  border-radius: 5px;
  border: 1px solid #ccc;
}

button[type="submit"] {
  background-color: #f9fff4;
  color: black;
  padding: 10px 18px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-weight: bold;
  margin-top: 10px;
  transition: background-color 0.3s ease;
}

button[type="submit"]:hover {
  background-color: #cfebb7;
}

.spinner {
  border: 4px solid #f3f3f3;
  border-top: 4px solid #4CAF50;
  border-radius: 50%;
  width: 25px;
  height: 25px;
  animation: spin 1s linear infinite;
  margin: 10px auto;
}

